* {
  margin: 0;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato/Lato-Regular.ttf") format("truetype"),
    url("./fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "WorkSans";
  src: url("./fonts/Work_Sans/static/WorkSans-ExtraLight.ttf") format("truetype");
  font-weight: light;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto_Slab/static/RobotoSlab-ExtraLight.ttf") format("truetype");
  font-weight: light;
}
@font-face {
  font-family: "BIZ";
  src: url("./fonts/BIZ_UDPMincho/BIZUDPMincho-Regular.ttf") format("truetype");
  font-weight: light;
}
